/* general rules */
body {
    font-family: 'Titillium Web', sans-serif;
    color:#DBE8D4;
    background-color: #4a546b;
}


.contact h1::after, 
.projects h1::after
{            /*::after is a standarised selector, that will place element always after defined element*/
    content: '';
    display: block;
    position: relative;
    bottom: 0;
    left: 50%;
    width: 16rem;
    height: 4px;
    margin-left: -8rem;
    margin-top: 2.5rem;
    background-color: #717f87;
}


.projects h1 {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}


/* header rules*/ 
header {
    position: fixed;  /* will stay on top despite of scrolling */
    height: 3rem;
    width: 100%;
    background-color: #525e65;
    left: 0px;
    top: 0px;
    z-index: 1;
}

header ul {
    display: flex;  /*will distribute list to a row*/
    list-style-type: none; /*will remove list bullets*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header li {
    padding: 0 3rem;
}

header a {
    text-decoration: none;  /*remove underline*/
    color:#DBE8D4;
    transition: color 0.7s;
    font-size: 1rem;
}

header a:active, 
header a:hover {
    color:#73CCA8;
    border-bottom: 4px solid #73CCA8;
}


/*name part rules */
.main-content {
    position:relative;
    top: 3rem;
}


.name {
    text-align: center;
    background-color: #222733;
    color:#DBE8D4;
    letter-spacing: 0.5rem;
    clip-path: ellipse(55% 75% at 50% 21%);
    padding-bottom: 3rem;
}
.name h1 {
    position: relative;
    font-size: 7vw;
    padding-top: 3rem;
    font-family: 'Josefin Sans', sans-serif;
}

.name h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 1vw;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

/* name part - mobile version */
@media only screen and (max-width: 34rem) {
    .name h1 {
        font-size: 11vw;
    }

    .name h2 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 3.5vw;

    }
}
/* abour part rules */
.site-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

 
.site-content h6 {
    width:32rem;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

/* site content - mobile version */
@media only screen and (max-width: 34rem) {
.site-content h6 {
    width: 90%;
}
}


/* PROJECTS */

.category-header h1 {
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: center;
}

.container_images {
    display: flex;
    justify-content: space-between;
    padding: 0 20% 5rem 20%;
    text-align: center;
    color: black;
  }


.container_images a {
display: block;
width: 3em;
height: 3em;
color: #222733;
font-size: 3em;
line-height: 3em;
text-align: center;
background-color: #DBE8D4;
border-radius: 50%;
transition: background-color 0.7s;
}

.container_images img {
width: 1.8em;
height: 1.8em;
margin-top: 0.6em;
}

.container_images a:active, 
.container_images a:hover {
    background-color:#73CCA8;
    transition: background-color 0.7s;
}

.dropdown_menu{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  display: none;
}

.dropdown:hover,
.dropdown_menu--animated {
  display: block;
}

.fa-brands {
    padding-top: 0.3em;
}

/* CONTACT */
.contact {
    text-align: center;
    background-color: #222733;
    padding-top: 3rem;
    clip-path: ellipse(55% 75% at 50% 86%);
}

.contact li {
    display: inline-block;
}

.contact-icons {
    padding: 2rem;
    
}
.contact-icons a {
display: block;
width: 1.5em;
height: 1.5em;
color: #222733;
font-size: 1.5em;
line-height: 1.5em;
text-align: center;
background-color: #DBE8D4;
border-radius: 50%;
transition: background-color 0.7s;

}

.contact-icons a:active, 
.contact-icons a:hover {
    background-color:#73CCA8;
    transition: background-color 0.7s;
}

